[submodule "labs/charming"]
	path = labs/charming
	url = https://github.com/delan/charming
[submodule "labs/cabinvis"]
	path = labs/cabinvis
	url = https://github.com/delan/cabinvis
[submodule "labs/fourtwenty"]
	path = labs/fourtwenty
	url = https://github.com/delan/fourtwenty
